* {
  font-family: Comfortaa, Helvetica, sans-serif;
}

#container {
  margin: 0 auto;
  width: 850px;
  height: 850px;
  margin-top: 50px;
  border: 3px solid black;
  background-color: #176534;
}

h1 {
  margin: 20px auto;
  display: flex;
  justify-content: center;
  font-weight: bold;
  color: #eab307;
  width: fit-content;
  padding: 1.5rem;
  border-radius: 5rem;
}

#board,
.boardInfo {
  max-width: 500px;
  margin: 0 auto;
}

#board {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  margin: 0 auto;
  margin-top: 50px;
  border: 2px solid black;
  box-shadow: 15px 10px 10px #9fb4c7;
}

#boardInfo {
  display: grid;
  justify-content: space-between;
  margin-top: 10px;
}

#carteles {
  display: flex;
}

#gameOver {
  display: none;
  border: 1px solid black;
  width: 100px;
  padding: 5px;
  background-color: #eab307;
  color: white;
  border-radius: 15%;
  margin-left: 25%;
  text-align: center;
}

#start {
  font-size: 1rem;
  font-weight: bold;
  border: none;
  color: #eab307;
  cursor: pointer;
  display: flex;
  left: 65%;
  position: relative;
  text-align: center;
  border-radius: 15px;
  width: 5rem;
  background-color: transparent;
}

#start:hover {
  transform: scale(1.5, 1.5);
}

#scoreInfo {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  width: 150px;
  height: 75px;
  padding: 5px;
  margin-left: 2.5rem;
}

#scoreBoard {
  display: flex;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  color: red;
  font-size: larger;
  width: 5rem;
  padding: 5px;
}

h2 {
  display: flex;
  text-justify: distribute;
  position: relative;
}

.square {
  aspect-ratio: 1;
}

.emptySquare {
  background-color: #9fb798;
}

.snakeSquare {
  background-color: #93c84b;
  border-radius: 20px;
}

.foodSquare {
  background-color: red;
  border: 1px solid black;
  border-radius: 10px;
}
